Makefile.in
Makefile
.license.stamp
*.trs
*.log
*.o
*.lo
.deps
.libs
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.h.in~
config.status
configure
docs
doxygen/txt_common/about_vpath.page
libtool
masa.pc
masa.spec
stamp-h1

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

src/libfmasa.la
src/libmasa.la
src/masa.h
src/masa.mod
src/masa_version
src/masa.py
src/masa_wrap.c
src/_masa.la

examples/MASAshell
examples/ablation_example
examples/burgers_example
examples/c_euler_example
examples/c_heat_example
examples/c_laplace_example
examples/cp_gaussian
examples/display_solutions
examples/euler_chem
examples/euler_example
examples/euler_transient
examples/f_cns
examples/f_cns_4d
examples/f_euler
examples/f_insh
examples/f_laplace
examples/fans_sa
examples/fans_sa_finite_d
examples/fans_sa_wall
examples/heat_example
examples/laplace_example
examples/navierstokes
examples/radiation
examples/rans_sa
examples/sod
examples/switch

tests/ablation
tests/ad_cns
tests/ad_cns_crossterm
tests/ad_euler
tests/ad_ins
tests/axi_cns
tests/axi_euler
tests/c_array
tests/c_cns2d
tests/c_cns3d
tests/c_euler1d
tests/c_euler2d
tests/c_euler3d
tests/c_euler_chem_1d
tests/c_heat1dsc
tests/c_heat2dsc
tests/c_heat3dsc
tests/c_laplace
tests/c_misc
tests/c_purge
tests/c_radiation
tests/c_source
tests/catch_exception
tests/cns-2d-3d
tests/cns2d
tests/cns3d
tests/cns3d_phys
tests/cn2d3d
tests/cns_source_interface.mod
tests/cp_normal
tests/euler1d
tests/euler2d
tests/euler3d
tests/euler_chem_1d
tests/euler_source_interface.mod
tests/euler_transient_1d
tests/f_array
tests/f_cns2d
tests/f_cns3d
tests/f_euler1d
tests/f_euler2d
tests/f_euler3d
tests/f_euler_chem_1d
tests/f_heat
tests/f_laplace
tests/f_misc
tests/f_purge
tests/f_radiation
tests/fail_cond
tests/fans_sa_wall
tests/heat_const_steady
tests/heat_const_unsteady
tests/heat_var_steady
tests/heat_var_unsteady
tests/heat_steady_const
tests/heat_steady_var
tests/heat_unsteady_const
tests/heat_unsteady_var
tests/laplace
tests/misc
tests/pass_func
tests/poly
tests/purge
tests/py_init.sh
tests/radiation
tests/rans_sa
tests/register
tests/sod
tests/touch_swig_interface.sh
tests/uninit
tests/vec

tutorial/laplacian
